
body {
  min-height: 1200px;
}


// font-family: 'Montserrat', sans-serif;
// font-family: 'Source Sans Pro', sans-serif;
// font-family: 'Playfair Display', serif;

.hero_section_style {

  
}


.section_spacing {

  height: 12rem;

}

.first_section {

  margin-top: 3rem;
  height: inherit;
}

.sub_header_spacing {

  margin-top: 3rem;
  margin-bottom: 3rem;
}


.img_class_name {


}

.img_class_name {


}

.img_class_name {


}

.img_class_name {


}
