
body {

  min-height: 1200px;
  scroll-behavior: smooth;
}


// font-family: 'Montserrat', sans-serif;
// font-family: 'Source Sans Pro', sans-serif;
// font-family: 'Playfair Display', serif;



.jumbotron {

  margin-bottom: 0 !important;
  background-color: none;


}

.jumbotron-fluid {

  margin-bottom: 0 !important;
  background-color: none;

}

.small_style_margin {

  margin-top: 3rem;
}

.active_family {

  background-image: url(../img/active_senor.png);
  background-size: cover;
  height: inherit;
  width: auto;


}

.Blue_nav_style {

  font-family: 'Playfair Display', serif;

}

.slider_space_style {

  margin-top: 5rem;
}

.slider_img3 {

  background-image: url(../img/active_senor.png);
  background-size: cover;
  height: 30rem;
  width: auto;


}

.live_life_body {
  margin-top: 7rem;
  font-size: 7rem;
}

.blue_header_style {

<<<<<<< HEAD
background-image: url(../img/yoga_health.png);
=======
background-image: url(../img/family_one.jpg);
height: 40rem;
>>>>>>> e9501a6a55bea5e5ea6fe21b8a6e55dee381b581
background-size: cover;

.top_spacing_banner_body {
  margin-top: 7rem;


  }

}

.iphone_img_style {

 background-image: url(../img/iphone.png);
 background-size: cover;
 height: 45rem;
 width: auto;


}

.header_minor_space {

  margin-bottom: 3rem;
  font-family: 'Playfair Display', serif;
}

.section_spacing {

  height: 12rem;

}

.first_section {

  margin-top: 10rem;
  margin-bottom: 10rem;
  height: inherit;
}

.first_section_nut {

  padding-top: 4rem;
  padding-bottom: 8rem;
  height: inherit;


}

.sub_header_spacing {

  margin-top: 3rem;
  margin-bottom: 3rem;
}

.banner_flag {

  background-color: rgba(58,144,224, 0.8) ;
  height: 25rem;

  .blue_hero_text_style {

    font-family: 'Playfair Display', serif;


  }

  .bottom_spacing {
    padding-bottom: 7rem;
  }

  .top_spacing {
    padding-top: 7rem;
  }
}


.img_class_name {

  background-image: url(../img/healthy_food.jpg);
  background-size: cover;
  height: 25rem;
  width: auto;


}

.img_class_paper {

  background-image: url(../img/green_smoothy.jpg);
  background-size: cover;
  height: 25rem;
  width: auto;


}

.img_class_name_blog_yoga {

  background-image: url(../img/yoga_matt.jpg);
  background-size: cover;
  height: 25rem;
  width: 100%;


}

.img_class_name_volunteer {

  background-image: url(../img/community_selfie.jpg);
  background-size: cover;
  height: 25rem;
  width: 100%;


}


.footer_height_style {

   padding-top: 10rem;
   padding-bottom: 10rem;

}

.footer_styles {

  .social_space_style {

    margin-bottom: 5rem;
  }

  margin-top: 5rem;

  .footer_second_level {

    width: 100%;
  }



}

.footer_styles_list {

  margin-top: 0.9rem;
  list-style: none;
  font-family: 'Source Sans Pro', sans-serif;
  color: #000000;

}

.footer_2nd_styles {

  .footer_styles_list {

    margin-top: 0.9rem;
    list-style: none;
    font-family: 'Source Sans Pro', sans-serif;
    color: #FFFFFF;

  }

}
