
body {
  min-height: 1200px;
}


// font-family: 'Montserrat', sans-serif;
// font-family: 'Source Sans Pro', sans-serif;
// font-family: 'Playfair Display', serif;

.hero_section_style {


}

.jumbotron {

  margin-bottom: 0 !important;

}


.section_spacing {

  height: 12rem;

}

.first_section {

  margin-top: 10rem;
  margin-bottom: 10rem;
  height: inherit;
}

.sub_header_spacing {

  margin-top: 3rem;
  margin-bottom: 3rem;
}

.banner_flag {

  background-color: #333333;
  height: 25rem;

  .bottom_spacing {
    padding-bottom: 7rem;
  }

  .top_spacing {
    padding-top: 7rem;
  }
}


.img_class_name {


}

.img_class_name {


}

.img_class_name {


}

.img_class_name {


}
